In [1]:
import pandas as pd

In [2]:
train_data = pd.read_csv(r'customer-retention-datathon-riyadh-edition\train_data.csv')
train_data.head()

                                           msno  is_churn
0  Pp9fOyd/eG4D7qs1jUnvFagO/9XcbAVNkufTX2Q7wkw=         0
1  nUiYMBsiB/HaDWMF20ebBeWtw3xwoWrIGuFWa/J/Adc=         0
2  U6POp25OGlgekxcGt8yayx+myCGmO/n71UPqYxxyxQs=         0
3  dN8D0n8vugg05OR4U8NHIkd5g7HIc9TTuR003ZdYWR0=         0
4  JZn5kjsN5nNtqfUtlpu/+XNYzSsqqiGzejuRLbbBtoE=         0

In [3]:
members = pd.read_csv(r'customer-retention-datathon-riyadh-edition\members.csv')
members.head()

C:\Users\fadwa\AppData\Local\Temp\ipykernel_368\3263426229.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  members = pd.read_csv(r'customer-retention-datathon-riyadh-edition\members.csv')

,msno,city,bd,gender,registered_via,registration_init_time
0,kfe7o/IQJT+yPQnDM8Ru67XrTWCutEg20xinHKy6UxU=,1,0,NaN,7,20120320
1,hkNDL7tng+4wVvrm5FGqTgaXMElTauo16CqxE63pavM=,1,0,NaN,7,20120320
2,0eAH4euZqyyUreUiIASJ1cqYc0OBpvBFtxAz81bXl+s=,1,0,NaN,7,20120320
3,dKTlgMn0d/UAglVcVUIS7bKv2d82Veahl4rbxhCtv/I=,1,0,NaN,7,20120320
4,rAdkP5n4ra8lkTKZRqxLOyi+XJ9Enw++Nqtmx1XxilY=,1,0,NaN,7,20120320

In [4]:
user_logs = pd.read_csv(r'customer-retention-datathon-riyadh-edition\user_logs.csv')
user_logs.head()

,msno,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,u9E91QDTvHLq6NXjEaWv8u4QIqhrHk72kE+w31Gnhdg=,20170331,8,4,0,1,21,18,6309.273
1,nTeWW/eOZA/UHKdD5L7DEqKKFTjaAj3ALLPoAWsU8n0=,20170330,2,2,1,0,9,11,2390.699
2,2UqkWXwZbIjs03dHLU9KHJNNEvEkZVzm69f3jCS+uLI=,20170331,52,3,5,3,84,110,23203.337
3,ycwLc+m2O0a85jSLALtr941AaZt9ai8Qwlg9n0Nql5U=,20170331,176,4,2,2,19,191,7100.454
4,EGcbTofOSOkMmQyN1NMLxHEXJ1yV3t/JdhGwQ9wXjnI=,20170331,2,1,0,1,112,93,28401.558

In [5]:
transactions = pd.read_csv(r'customer-retention-datathon-riyadh-edition\transactions.csv')
transactions.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,++6eU4LsQ3UQ20ILS7d99XK8WbiVgbyYL4FUgzZR134=,32,90,298,298,0,20170131,20170504,0
1,+kdzMTBwnWkFvWCLiK94UXAzRubMomjCNXTpqVlM/WM=,20,100,480,480,0,20170107,20170417,0
2,+weVl2uf/jJEy1ziJb8OGWAyEOOEtzr4WGlSacjolgo=,38,365,1299,1299,0,20170115,20180115,0
3,/R6+tah0zuDQIQPr80CiuQMfqIxrQS0aRX5u7STjpGM=,32,180,699,699,0,20161218,20170616,0
4,/m9G2inXqltccUgil2basIPC3WKx2vyS6nueJoxPDxw=,38,365,1299,1299,0,20161103,20171215,0

In [8]:
train_df = pd.merge(train_data, members, on='msno', how='inner')
train_df.head()

,msno,is_churn,city,bd,gender,registered_via,registration_init_time
0,Pp9fOyd/eG4D7qs1jUnvFagO/9XcbAVNkufTX2Q7wkw=,0,5,29,male,9,20110911
1,nUiYMBsiB/HaDWMF20ebBeWtw3xwoWrIGuFWa/J/Adc=,0,13,36,male,9,20110913
2,U6POp25OGlgekxcGt8yayx+myCGmO/n71UPqYxxyxQs=,0,13,40,male,9,20110913
3,dN8D0n8vugg05OR4U8NHIkd5g7HIc9TTuR003ZdYWR0=,0,3,46,male,9,20110916
4,JZn5kjsN5nNtqfUtlpu/+XNYzSsqqiGzejuRLbbBtoE=,0,4,28,female,9,20110918

In [9]:
train_df = pd.merge(train_df, user_logs, on='msno', how='inner')
train_df.head()

,msno,is_churn,city,bd,gender,registered_via,registration_init_time,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,nUiYMBsiB/HaDWMF20ebBeWtw3xwoWrIGuFWa/J/Adc=,0,13,36,male,9,20110913,20170313,0,0,1,0,14,15,4028.665
1,nUiYMBsiB/HaDWMF20ebBeWtw3xwoWrIGuFWa/J/Adc=,0,13,36,male,9,20110913,20170321,2,2,0,0,20,24,5710.170
2,nUiYMBsiB/HaDWMF20ebBeWtw3xwoWrIGuFWa/J/Adc=,0,13,36,male,9,20110913,20170312,0,1,0,0,7,8,2351.508
3,nUiYMBsiB/HaDWMF20ebBeWtw3xwoWrIGuFWa/J/Adc=,0,13,36,male,9,20110913,20170302,0,0,0,0,2,2,523.702
4,nUiYMBsiB/HaDWMF20ebBeWtw3xwoWrIGuFWa/J/Adc=,0,13,36,male,9,20110913,20170314,0,1,0,1,17,19,4705.770

In [10]:
train_df = pd.merge(train_df, transactions, on='msno', how='inner')
train_df.head()

,msno,is_churn,city,bd,gender,registered_via,registration_init_time,date,num_25,num_50,...,num_unq,total_secs,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,nUiYMBsiB/HaDWMF20ebBeWtw3xwoWrIGuFWa/J/Adc=,0,13,36,male,9,20110913,20170313,0,0,...,15,4028.665,40,30,149,149,1,20170313,20170419,0
1,nUiYMBsiB/HaDWMF20ebBeWtw3xwoWrIGuFWa/J/Adc=,0,13,36,male,9,20110913,20170321,2,2,...,24,5710.170,40,30,149,149,1,20170313,20170419,0
2,nUiYMBsiB/HaDWMF20ebBeWtw3xwoWrIGuFWa/J/Adc=,0,13,36,male,9,20110913,20170312,0,1,...,8,2351.508,40,30,149,149,1,20170313,20170419,0
3,nUiYMBsiB/HaDWMF20ebBeWtw3xwoWrIGuFWa/J/Adc=,0,13,36,male,9,20110913,20170302,0,0,...,2,523.702,40,30,149,149,1,20170313,20170419,0
4,nUiYMBsiB/HaDWMF20ebBeWtw3xwoWrIGuFWa/J/Adc=,0,13,36,male,9,20110913,20170314,0,1,...,19,4705.770,40,30,149,149,1,20170313,20170419,0

In [14]:
print(train_data.shape, members.shape, user_logs.shape, transactions.shape, train_df.shape)

(946686, 2) (6769473, 6) (18396362, 9) (1431009, 9) (15893645, 23)

In [15]:
train_df.to_csv('train_df.csv', encoding='utf-8', index=False, header=True)